body {
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.dados-pessoais {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#dados {
  margin-left: 10px;
  list-style-type: disc;
}

img {
  border-radius: 50%;
  margin-right: 50px;
  max-width: 40%;
  height: auto;
}

table,
tr,
td,
th {
  padding: 5px;
  border: 1px solid gray;
  margin-bottom: 30px;
  margin-top: 30px;
}

th {
  background-color: #128128;
}

.normal {
  color: blue;
}

.nice {
  color: red;
}

.great {
  color: purple;
}
