.container {
  width: 400px;
}
body {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.slider-wrapper {
  display: inline-flex;
  width: 20px;
  height: 10px;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

ul {
  width: 250px;
}

li {
  margin: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  min-width: 150px;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin-left: 30px;
  background-color: purple;
}

.range {
  min-width: 200px;
  margin-right: 20px;
}

/* input[type='number'] {
  border: 2px solid grey;
  padding: 12px 12px;
  border-radius: 4px;
  width: 20px;
} */
