body {
  padding: 10px;
  margin-left: 10px;
}

.slider-wrapper {
  display: inline-flex;
  width: 20px;
  height: 10px;
  padding: 0;
}

.qualquer {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type='text'] {
  border: 2px solid red;
  padding: 12px 12px;
  border-radius: 4px;
  width: 20px;
}
